PROJECT_NAME=MoviesAPI

DEBUG=False
CACHE_TTL=300
FILM_INDEX=movies
GENRE_INDEX=genres
PERSON_INDEX=persons
AUTHJWT_SECRET_KEY=change-me-in-production

REDIS_HOST=redis
REDIS_PORT=6379

ELASTIC_HOST=elastic
ELASTIC_PORT=9200
